astroid==2.8.2
asttokens==2.0.5
attrs==21.2.0
bash==0.6
black==21.9b0
click==8.0.2
colorama==0.4.4
commonmark==0.9.1
coverage==6.0.2
devtools==0.8.0
executing==0.8.2
flake8==4.0.1
gitdb==4.0.7
GitPython==3.1.24
iniconfig==1.1.1
inotify-simple==1.3.5
isort==5.9.3
Jinja2==3.0.2
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
mccabe==0.6.1
mflog==0.1.0
mfutil==0.1.1
mypy==0.910
mypy-extensions==0.4.3
netifaces==0.11.0
packaging==21.0
pathspec==0.9.0
platformdirs==2.4.0
pluggy==1.0.0
psutil==5.8.0
py==1.10.0
pycodestyle==2.8.0
pydantic==1.8.2
pyflakes==2.4.0
Pygments==2.10.0
pylint==2.11.1
pyparsing==2.4.7
pytest==6.2.5
pytest-cov==3.0.0
regex==2021.10.8
rich==10.12.0
simpleeval==0.9.10
six==1.16.0
smmap==4.0.0
structlog==21.1.0
toml==0.10.2
tomli==1.2.1
typer==0.4.0
typing-extensions==3.10.0.2
wrapt==1.12.1
